<footer class="footer">
    <img loading="lazy" src="img/bg2.webp" alt="" class="footer__bg1">
    <div class="container">
        <div class="footer-top">
            <div class="footer-top__left">
                <div class="footer-top__logos">
                    <a href="./" class="footer-top__logo">
                        <img loading="lazy" src="img/icons/logo2.svg" alt="">
                    </a>
                    <p>
                        Проектируем, производим и создаём мебель премиум-класса на заказ по индивидуальным проектам
                    </p>
                </div>
                <div class="socials">
                    <a href="./">
                        <img loading="lazy" src="img/icons/ins.svg" alt="">
                    </a>
                    <a href="./">
                        <img loading="lazy" src="img/icons/tg.svg" alt="">
                    </a>
                    <a href="./">
                        <img loading="lazy" src="img/icons/wh.svg" alt="">
                    </a>
                    <a href="./">
                        <img loading="lazy" src="img/icons/yb.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="footer-top__menu">
                <div class="footer-top__title">
                    Каталог
                </div>
                <ul>
                    <li>
                        <a href="./">Кухни премиум-класса</a>
                    </li>
                    <li>
                        <a href="./">Кухни на заказ</a>
                    </li>
                    <li>
                        <a href="./">Шкафы</a>
                    </li>
                    <li>
                        <a href="./">Гардеробные</a>
                    </li>
                    <li>
                        <a href="./">Прихожие</a>
                    </li>
                    <li>
                        <a href="./">Гостиные</a>
                    </li>
                    <li>
                        <a href="./">Детские</a>
                    </li>
                    <li>
                        <a href="./">Спальни</a>
                    </li>
                    <li>
                        <a href="./">Мебель для ванной</a>
                    </li>
                    <li>
                        <a href="./">Домашний кабинет</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__menu">
                <div class="footer-top__title">
                    КОМПАНИЯ
                </div>
                <ul>
                    <li>
                        <a href="./">О нас</a>
                    </li>
                    <li>
                        <a href="./">Производство</a>
                    </li>
                    <li>
                        <a href="./">Материалы</a>
                    </li>
                    <li>
                        <a href="./">Проекты</a>
                    </li>
                    <li>
                        <a href="./">Гарантия</a>
                    </li>
                    <li>
                        <a href="./">Отзывы</a>
                    </li>
                    <li>
                        <a href="./">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__contacts">
                <div class="footer-top__title">
                    Контакты
                </div>
                <ul>
                    <li>
                        <a href="tel:74951282080">+7 (495) 128 20 80</a>
                    </li>
                    <li>
                        <a href="mailto:info@mmmf.ru" class="mail">
                            info@mmmf.ru
                        </a>
                    </li>
                    <li>
                        <p>
                            Москва, ул. Ленинская Слобода, 26, Бизнес-центр «Омега», оф. 602
                        </p>
                    </li>
                    <li>
                        <p>
                            Ежедневно 10:00 - 20:00
                        </p>
                    </li>
                </ul>
                <a href="./" class="btn btn-border">
                    <span>ПЕРЕЗВОНИТЕ МНЕ</span>
                </a>
            </div>
            <div class="footer-top__right">
                <div class="footer-top__column">
                    <div class="footer-top__icon">
                        <img loading="lazy" src="img/icons/user.svg" alt="">
                    </div>
                    <p>
                        Персональный подход к каждому проекту
                    </p>
                </div>
                <div class="footer-top__column">
                    <div class="footer-top__icon">
                        <img loading="lazy" src="img/icons/map.svg" alt="">
                    </div>
                    <p>
                        Работаем в Москве и по всей России
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__copy">
                © 2026 Московская Мебельная Мануфактура. Все права защищены
            </div>
            <div class="footer-bottom__links">
                <a href="./">Политика конфиденциальности</a>
                <a href="./">Пользовательское соглашение</a>
            </div>
        </div>
    </div>
</footer>