<!--
<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="./" class="header__logo">
                <img src="img/icons/logo.svg" alt="">
            </a>
            <div class="header__menu">
                <a href="tel:89670762496" class="header__phone mob">8 967 076-24-96</a>
                <ul>
                    <li>
                        <a data-goto=".block-benefits1" data-goto-header href="./">Услуги</a>
                    </li>
                    <li>
                        <a data-goto=".block-delivery" data-goto-header href="./">Виды перевозок</a>
                    </li>
                    <li>
                        <a data-goto=".block-steps" data-goto-header href="./">Как мы работаем</a>
                    </li>
                    <li>
                        <a data-goto=".block-works" data-goto-header href="./">
                            <div class="header__menu-icon">
                                <svg aria-hidden="true" width="9" height="11">
                                    <use xlink:href="img/sprite.svg#map2"></use>
                                </svg>
                            </div>
                            Наш офис в Китае
                        </a>
                    </li>
                    <li>
                        <a data-goto=".block-teams" data-goto-header href="./">Команда</a>
                    </li>
                    <li>
                        <a data-goto=".block-reviews" data-goto-header href="./">Отзывы</a>
                    </li>
                    <li>
                        <a data-goto=".block-questions" data-goto-header href="./">FAQ</a>
                    </li>
                    <li>
                        <a data-goto=".footer" data-goto-header href="./">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="header__right">
                <div class="header__contacts">
                    <a href="tel:89670762496" class="header__phone desc">8 967 076-24-96</a>
                    <a href="./" data-popup="#call" class="header__call">
                        <div class="header__icon">
                            <svg aria-hidden="true" width="12" height="12">
                                <use xlink:href="img/sprite.svg#phone"></use>
                            </svg>
                        </div>
                        <span>Заказать звонок</span>
                    </a>
                </div>
                <button type="button" class="icon-menu">
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>-->