<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="./" class="header__logo">
                <img src="img/icons/logo1.svg" alt="">
            </a>
            <div class="header-menu">
                <ul>
                    <li>
                        <a href="./">О нас</a>
                    </li>
                    <li>
                        <a href="./">Проекты</a>
                    </li>
                    <li>
                        <a href="./">Кухни</a>
                    </li>
                    <li>
                        <a href="./">Материалы</a>
                    </li>
                    <li>
                        <a href="./">Производство</a>
                    </li>
                    <li>
                        <a href="./">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="header__right">
                <a href="tel:74951282080" class="header__phone">
                    <svg aria-hidden="true" width="16" height="16">
                        <use xlink:href="img/sprite.svg#phone1"></use>
                    </svg>
                    <span>+7 (495) 128 20 80</span>
                </a>
                <div data-da=".header-menu, 1200, first" class="header__buttons">
                    <a href="./" class="btn btn-white">
                        <div class="btn__icon">
                            <svg aria-hidden="true" width="16" height="16">
                                <use xlink:href="img/sprite.svg#construktor"></use>
                            </svg>
                        </div>
                        <span>AI конструктор</span>
                    </a>
                    <a href="./" data-popup="#call" class="btn">
                        <span>Получить расчет</span>
                    </a>
                </div>
                <button type="button" class="icon-menu">
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>