<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Проекты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro block-intro-other block-intro-project">
                <div class="container">
                    <div class="block-intro__content">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#" class="home">
                                        <img src="img/icons/home.svg" alt="">
                                    </a>
                                </li>
                                <li><span>Проекты</span></li>
                            </ul>
                        </div>
                        <div class="block-intro__top">
                            <h1 class="title1">
                                Реализованные проекты
                            </h1>
                            <p>
                                Кухни, системы хранения и мебель для частных интерьеров, созданные по индивидуальным
                                проектам
                            </p>
                        </div>
                        <div class="block-intro-descr">
                            <div class="block-intro-descr__column">
                                <div class="block-intro-descr__icon">
                                    <img src="img/icons/light.svg" alt="">
                                </div>
                                <div class="block-intro-descr__item">
                                    <p>
                                        Индивидуальное решение<br> под каждый интерьер
                                    </p>
                                </div>
                            </div>
                            <div class="block-intro-descr__column">
                                <div class="block-intro-descr__icon">
                                    <img src="img/icons/material.svg" alt="">
                                </div>
                                <div class="block-intro-descr__item">
                                    <p>
                                        Премиальные материалы<br> и европейская фурнитура
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="img/bg4.webp" alt="" class="block-intro__bg1">
            </div>

            <div class="block-projects block1">

            </div>

            <div class="block-required2 block-required-projects block3">
                <div class="container">
                    <div class="block-required2__content">
                        <img loading="lazy" src="img/image11.webp" alt="" class="block-required2__pic1">
                        <div class="heading-complex2">
                            <h2 class="title2">
                                Хотите интерьер
                                такого же уровня?
                            </h2>
                            <p>
                                Расскажите о помещении — подготовим концепцию и предварительный расчёт проекта
                            </p>
                        </div>
                        <div class="block-required2__body">
                            <div class="card-section">
                                <div class="card-section__icon">
                                    <img src="img/icons/tick2.svg" alt="">
                                </div>
                                <p>
                                    Персональный подход
                                    к вашему проекту
                                </p>
                            </div>
                            <div class="card-section">
                                <div class="card-section__icon">
                                    <img src="img/icons/calculator2.svg" alt="">
                                </div>
                                <p>
                                    Оптимальные решения
                                    и точный расчёт
                                </p>
                            </div>
                            <div class="card-section">
                                <div class="card-section__icon">
                                    <img src="img/icons/pro.svg" alt="">
                                </div>
                                <p>
                                    Производство и монтаж
                                    под ключ
                                </p>
                            </div>
                        </div>
                        <div class="block-required2__right">
                            <a href="./" data-popup="#call" class="btn">
                                <img src="img/icons/calculator.svg" alt="">
                                <span>Получить расчет</span>
                            </a>
                            <a href="./" class="btn btn-white">
                                <div class="btn__icon icon-construktor">
                                    <svg aria-hidden="true" width="18" height="18">
                                        <use xlink:href="img/sprite.svg#construktor"></use>
                                    </svg>
                                </div>
                                <span>AI-конструктор интерьера</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>