<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Проекты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro block-intro-other block-intro-project">
                <div class="container">
                    <div class="block-intro__content">
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#" class="home">
                                        <img src="img/icons/home.svg" alt="">
                                    </a>
                                </li>
                                <li><span>Проекты</span></li>
                            </ul>
                        </div>
                        <div class="block-intro__top">
                            <h1 class="title1">
                                Реализованные проекты
                            </h1>
                            <p>
                                Кухни, системы хранения и мебель для частных интерьеров, созданные по индивидуальным
                                проектам
                            </p>
                        </div>
                        <div class="block-intro-descr">
                            <div class="block-intro-descr__column">
                                <div class="block-intro-descr__icon">
                                    <img src="img/icons/light.svg" alt="">
                                </div>
                                <div class="block-intro-descr__item">
                                    <p>
                                        Индивидуальное решение<br> под каждый интерьер
                                    </p>
                                </div>
                            </div>
                            <div class="block-intro-descr__column">
                                <div class="block-intro-descr__icon">
                                    <img src="img/icons/material.svg" alt="">
                                </div>
                                <div class="block-intro-descr__item">
                                    <p>
                                        Премиальные материалы<br> и европейская фурнитура
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="img/bg4.webp" alt="" class="block-intro__bg1">
            </div>

            <div class="block-projects block1">
                <div class="container">
                    <div class="block-projects__content">
                        <div class="filter-projects">
                            <button data-filter="all" type="button" class="filter-projects__title active">
                                <span>Все проекты</span>
                            </button>
                            <button data-filter="filter1" type="button" class="filter-projects__title">
                                <span>
                                    Кухни<br>
                                    премиум-класса
                                </span>
                            </button>
                            <button data-filter="filter2" type="button" class="filter-projects__title">
                                <span>
                                    Кухни<br>
                                    на заказ
                                </span>
                            </button>
                            <button data-filter="filter3" type="button" class="filter-projects__title">
                                <span>Шкафы</span>
                            </button>
                            <button data-filter="filter4" type="button" class="filter-projects__title">
                                <span>Гардеробные</span>
                            </button>
                            <button data-filter="filter5" type="button" class="filter-projects__title">
                                <span>Прихожие</span>
                            </button>
                            <button data-filter="filter6" type="button" class="filter-projects__title">
                                <span>Гостиные</span>
                            </button>
                            <button data-filter="filter7" type="button" class="filter-projects__title">
                                <span>Детские</span>
                            </button>
                            <button data-filter="filter8" type="button" class="filter-projects__title">
                                <span>Спальни</span>
                            </button>
                            <button data-filter="filter9" type="button" class="filter-projects__title">
                                <span>
                                    Мебель<br>
                                    для ванной
                                </span>
                            </button>
                            <button data-filter="filter10" type="button" class="filter-projects__title">
                                <span>
                                    Домашний<br>
                                    кабинет
                                </span>
                            </button>
                            <button type="button" class="filter-projects__title">
                                <span>Фильтр</span>
                                <img src="img/icons/filter.svg" alt="">
                            </button>
                        </div>
                        <div class="block-projects__body">
                            <div class="block-projects__cards">
                                <a data-filter="filter1" href="./" class="card-project filter-card">
                                    <img loading="lazy" src="img/catalog/image3.webp" alt="" class="card-project__pic1">
                                    <div class="card-project__item">
                                        <div class="card-project__titles">
                                            <div class="card-project__title">
                                                Кухня-гостиная в ЖК “Садовые кварталы”
                                            </div>
                                            <p>
                                                Москва - 42 м2 - Шпон дуба, камень, матовая эмаль
                                            </p>
                                        </div>
                                        <div class="icon-arrow">
                                            <svg aria-hidden="true" width="16" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter2" href="./" class="card-project filter-card">
                                    <img loading="lazy" src="img/catalog/image2.webp" alt="" class="card-project__pic1">
                                    <div class="card-project__item">
                                        <div class="card-project__titles">
                                            <div class="card-project__title">
                                                Кухня в загородном доме
                                            </div>
                                            <p>
                                                Московская область - 28 м2 - Натуральный шпон, камень
                                            </p>
                                        </div>
                                        <div class="icon-arrow">
                                            <svg aria-hidden="true" width="16" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter3" href="./" class="card-project filter-card">
                                    <img loading="lazy" src="img/catalog/image1.webp" alt="" class="card-project__pic1">
                                    <div class="card-project__item">
                                        <div class="card-project__titles">
                                            <div class="card-project__title">
                                                Гардеробная комната
                                            </div>
                                            <p>
                                                Москва - 12 м2 - Шпон ореха, стекло, металл
                                            </p>
                                        </div>
                                        <div class="icon-arrow">
                                            <svg aria-hidden="true" width="16" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter4" href="./" class="card-project filter-card">
                                    <img loading="lazy" src="img/catalog/image1.webp" alt="" class="card-project__pic1">
                                    <div class="card-project__item">
                                        <div class="card-project__titles">
                                            <div class="card-project__title">
                                                Прихожая в квартире в ЖК “River Park”
                                            </div>
                                            <p>
                                                Москва - 10 м2 - Эмаль, шпон, латунь
                                            </p>
                                        </div>
                                        <div class="icon-arrow">
                                            <svg aria-hidden="true" width="16" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter5" href="./" class="card-project filter-card">
                                    <img loading="lazy" src="img/catalog/image3.webp" alt="" class="card-project__pic1">
                                    <div class="card-project__item">
                                        <div class="card-project__titles">
                                            <div class="card-project__title">
                                                Кухня с островом в ЖК “Воробьёвы горы”
                                            </div>
                                            <p>
                                                Москва - 36 м2 - Камень, эмаль, дерево
                                            </p>
                                        </div>
                                        <div class="icon-arrow">
                                            <svg aria-hidden="true" width="16" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter6" href="./" class="card-project filter-card">
                                    <img loading="lazy" src="img/catalog/image2.webp" alt="" class="card-project__pic1">
                                    <div class="card-project__item">
                                        <div class="card-project__titles">
                                            <div class="card-project__title">
                                                Ванная комната в ЖК “Остров”
                                            </div>
                                            <p>
                                                Москва - 6 м2 - Керамогранит, шпон, камень
                                            </p>
                                        </div>
                                        <div class="icon-arrow">
                                            <svg aria-hidden="true" width="16" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter7" href="./" class="card-project filter-card">
                                    <img loading="lazy" src="img/catalog/image3.webp" alt="" class="card-project__pic1">
                                    <div class="card-project__item">
                                        <div class="card-project__titles">
                                            <div class="card-project__title">
                                                Кухня-гостиная в ЖК “Садовые кварталы”
                                            </div>
                                            <p>
                                                Москва - 42 м2 - Шпон дуба, камень, матовая эмаль
                                            </p>
                                        </div>
                                        <div class="icon-arrow">
                                            <svg aria-hidden="true" width="16" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter8" href="./" class="card-project filter-card">
                                    <img loading="lazy" src="img/catalog/image2.webp" alt="" class="card-project__pic1">
                                    <div class="card-project__item">
                                        <div class="card-project__titles">
                                            <div class="card-project__title">
                                                Кухня в загородном доме
                                            </div>
                                            <p>
                                                Московская область - 28 м2 - Натуральный шпон, камень
                                            </p>
                                        </div>
                                        <div class="icon-arrow">
                                            <svg aria-hidden="true" width="16" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a data-filter="filter9" href="./" class="card-project filter-card">
                                    <img loading="lazy" src="img/catalog/image1.webp" alt="" class="card-project__pic1">
                                    <div class="card-project__item">
                                        <div class="card-project__titles">
                                            <div class="card-project__title">
                                                Гардеробная комната
                                            </div>
                                            <p>
                                                Москва - 12 м2 - Шпон ореха, стекло, металл
                                            </p>
                                        </div>
                                        <div class="icon-arrow">
                                            <svg aria-hidden="true" width="16" height="9">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <button type="button" class="btn btn-white">
                                <div class="btn__icon icon-refresh">
                                    <svg aria-hidden="true" width="16" height="16">
                                        <use xlink:href="img/sprite.svg#refresh"></use>
                                    </svg>
                                </div>
                                <span>Показать еще проекты</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-required2 block-required-projects block3">
                <div class="container">
                    <div class="block-required2__content">
                        <img loading="lazy" src="img/image11.webp" alt="" class="block-required2__pic1">
                        <div class="heading-complex2">
                            <h2 class="title2">
                                Хотите интерьер
                                такого же уровня?
                            </h2>
                            <p>
                                Расскажите о помещении — подготовим концепцию и предварительный расчёт проекта
                            </p>
                        </div>
                        <div class="block-required2__body">
                            <div class="card-section">
                                <div class="card-section__icon">
                                    <img src="img/icons/tick2.svg" alt="">
                                </div>
                                <p>
                                    Персональный подход
                                    к вашему проекту
                                </p>
                            </div>
                            <div class="card-section">
                                <div class="card-section__icon">
                                    <img src="img/icons/calculator2.svg" alt="">
                                </div>
                                <p>
                                    Оптимальные решения
                                    и точный расчёт
                                </p>
                            </div>
                            <div class="card-section">
                                <div class="card-section__icon">
                                    <img src="img/icons/pro.svg" alt="">
                                </div>
                                <p>
                                    Производство и монтаж
                                    под ключ
                                </p>
                            </div>
                        </div>
                        <div class="block-required2__right">
                            <a href="./" data-popup="#call" class="btn">
                                <img src="img/icons/calculator.svg" alt="">
                                <span>Получить расчет</span>
                            </a>
                            <a href="./" class="btn btn-white">
                                <div class="btn__icon icon-construktor">
                                    <svg aria-hidden="true" width="18" height="18">
                                        <use xlink:href="img/sprite.svg#construktor"></use>
                                    </svg>
                                </div>
                                <span>AI-конструктор интерьера</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>