body {
  color: var(--2a2626);
  font-family: var(--font-family);
  background: var(--f6f0ec);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  .popup-show & {
    overflow: hidden;
  }
  .menu-open & {
    overflow: hidden;
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 10px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--ffffff);
  min-height: 70px;
  width: fit-content;
  padding: 10px 40px;
  transition:
    color 0.3s,
    opacity 0.3s;
  box-shadow: 0 15px 40px 0 rgba(42, 38, 38, 0.08);
  background: linear-gradient(87.17deg, #b9884c -0.94%, #90632e 52.14%, #b9884c 105.22%);
  @media (max-width: 768px) {
    padding: 10px 20px;
  }
  span {
    position: relative;
    z-index: 5;
  }
  img {
    position: relative;
    z-index: 10;
    flex: 0 0 18px;
    width: 18px;
    height: auto;
  }
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &.btn-white {
    color: var(--2a2626);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.5);
    transition: border 0.3s;
    &::before {
      content: "";
      background: rgba(151, 110, 66, 0.5);
    }
    .btn__icon {
      svg {
        fill: var(--976e42);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        border: 1px solid rgba(151, 110, 66, 0.5);
        color: var(--ffffff);
        .btn__icon {
          svg {
            fill: var(--ffffff);
          }
          &.icon-refresh {
            svg {
              animation: rotate360 0.6s ease-in-out;
            }
          }
        }
      }
    }
  }
  &.btn-border {
    min-height: 50px;
    box-shadow: none;
    border: 1px solid rgba(151, 110, 66, 0.5);
    font-weight: 700;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: transparent;
    padding: 10px 30px;
    transition:
      background-color 0.3s,
      border 0.3s;
    span {
      background: linear-gradient(87.17deg, #b9884c -0.97%, #90632e 52.47%, #b9884c 105.92%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &::before {
      content: "";
      display: none;
    }
    @media (any-hover: hover) {
      &:hover {
        border: 1px solid transparent;
        background-color: rgba(151, 110, 66, 0.3);
      }
    }
  }
  &::before {
    content: "";
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #976e42;
    opacity: 0;
    transition: opacity 0.3s;
  }
  @media (any-hover: hover) {
    &:hover {
      &::before {
        content: "";
        opacity: 1;
      }
    }
  }
  // .btn__icon

  &__icon {
    position: relative;
    z-index: 10;
    width: 16px;
    flex: 0 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    &.icon-construktor {
      width: 18px;
      flex: 0 0 18px;
    }
    svg {
      transition:
        fill 0.3s,
        transform 0.6s;
      fill: var(--ffffff);
    }
  }
  @keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 30px;
  @media (max-width: 768px) {
    justify-content: center;
  }
  a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    @media (any-hover: hover) {
      &:hover {
        &::before {
          content: "";
          opacity: 0.7;
        }
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.title1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 56px;
  line-height: 107%;
  @media (max-width: 992px) {
    font-size: 52px;
  }
  @media (max-width: 768px) {
    font-size: 42px;
    br {
      display: none;
    }
  }
  @media (max-width: 550px) {
    font-size: 35px;
  }
}
.title2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 38px;
  line-height: 111%;
  @media (max-width: 768px) {
    font-size: 28px;
  }
}

.heading-complex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 36px;
  @media (max-width: 768px) {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title2 {
    @media (max-width: 768px) {
      text-align: center;
    }
  }
}

.heading-complex2 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  @media (max-width: 768px) {
    gap: 15px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  // .heading-complex2__text

  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (max-width: 768px) {
      gap: 10px;
    }
  }
}

.link {
  flex: 0 0 auto;
  font-weight: 700;
  font-size: 13px;
  line-height: 154%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: color 0.3s;
  @media (max-width: 768px) {
    font-size: 12px;
  }
  svg {
    flex: 0 0 16px;
    fill: var(--976e42);
  }
  @media (any-hover: hover) {
    &:hover {
      color: var(--976e42);
    }
  }
}

.icon-arrow {
  width: 36px;
  height: 36px;
  flex: 0 0 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 40px 0 rgba(42, 38, 38, 0.08);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    background: linear-gradient(87.17deg, #b9884c -0.55%, #90632e 48.52%, #b9884c 97.59%);
  }
  svg {
    position: relative;
    z-index: 5;
    transition: fill 0.3s;
    fill: var(--976e42);
  }
}

.block1 {
  margin-bottom: 60px;
  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}
.block2 {
  margin-bottom: 42px;
}
.block3 {
  margin-bottom: 70px;
  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}
