.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 768px) {
        gap: 25px;
    }

    // .form__titles

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 18px;
        @media (max-width: 768px) {
            gap: 10px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }

    // .form__title

    &__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 26px;
        line-height: 123%;
        @media (max-width: 768px) {
            font-size: 22px;
        }
    }

    // .form__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media (max-width: 768px) {
            gap: 10px;
        }
    }

    // .form__inputs

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media (max-width: 768px) {
            gap: 10px;
        }
    }

    // .form__input

    &__input {
        .input {
            border-radius: 10px;
            background: var(--f6f0ec);
            width: 100%;
            height: 60px;
            padding: 20px 30px;
            font-weight: 400;
            font-size: 13px;
            line-height: 154%;
            border: 1px solid transparent;
            transition: border 0.3s;
            @media (max-width: 768px) {
                height: 50px;
                padding: 15px 20px;
            }
            &._form-error {
                border: 1px solid red;
            }
            &._form-focus {
                border: 1px solid var(--976e42);
            }
            &::placeholder {
                color: rgba(42, 38, 38, 0.7);
            }
            &.textarea {
                height: 120px;
            }
        }
    }

    // .form__bottom

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 25px 15px;
        @media (max-width: 768px) {
            gap: 20px 15px;
        }
    }

    // .form__buttons

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        @media (max-width: 768px) {
            gap: 15px;
        }
        .btn {
            width: 100%;
        }
    }

    // .form__text

    &__text {
        max-width: 300px;
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: rgba(42, 38, 38, 0.7);
        a {
            font-weight: 500;
            color: var(--976e42);
            transition: opacity 0.3s;
            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}
.form-file {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid rgba(42, 38, 38, 0.1);
    position: relative;
    padding: 11px 10px 9px 20px;
    input {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 10px;
    }
    // .form-file__icon

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        flex: 0 0 30px;
        height: 30px;
        svg {
            fill: var(--976e42);
        }
    }

    // .form-file__titles

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 2px;
        p {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: rgba(42, 38, 38, 0.7);
        }
    }

    // .form-file__title

    &__title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 500;
        font-size: 13px;
        line-height: 154%;
    }
}

.select {
    width: 100%;
    min-width: 0;
    position: relative;
    z-index: 15 !important;
    &._select-open {
        z-index: 25 !important;
        .select__title {
            border-radius: 10px 10px 0px 0px;
        }
    }
    // .select__body
    &__body {
        position: relative;
    }
    // .select__title
    &__title {
        height: 60px;
        padding: 0px 30px;
        color: inherit;
        text-align: left;
        cursor: pointer;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        display: flex;
        align-items: center;
        gap: 6px;
        border-radius: 10px;
        background: var(--f6f0ec);
        transition: border-radius 0.3s;
        @media (max-width: 768px) {
            height: 50px;
            padding: 0px 20px;
        }
        ._select-open & {
            .select__arrow {
                &::after {
                    content: "";
                    transform: rotate(-180deg);
                }
            }
        }
    }
    // .select__arrow
    &__arrow {
        z-index: 13;
        width: 8px;
        height: 6px;
        flex: 0 0 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            display: block;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGQ9Ik00IDZMNS4yNDUzN2UtMDcgLTYuOTkzODJlLTA3TDggMEw0IDZaIiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXJfNTJfMzMyKSIgLz4KICA8ZGVmcz4KICAgIDxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhcl81Ml8zMzIiIHgxPSI4LjA3OTAyIiB5MT0iLTMuMzkxMTJlLTA3IiB4Mj0iLTAuODAwMzkxIiB5Mj0iMC41ODYwNDgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iI0I5ODg0QyIgLz4KICAgICAgPHN0b3Agb2Zmc2V0PSIwLjUiIHN0b3AtY29sb3I9IiM5MDYzMkUiIC8+CiAgICAgIDxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI0I5ODg0QyIgLz4KICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgPC9kZWZzPgo8L3N2Zz4=");
            background-repeat: no-repeat;
            width: 8px;
            height: 6px;
            background-size: 100% 100%;
            transition: transform 0.3s;
        }
    }
    // .select__value
    &__value {
        display: flex;
        text-align: left;
        min-width: 0;
        overflow: hidden;
        align-items: center;
        flex: 1 1 auto;
        justify-content: flex-start;
        gap: 6px;
    }

    // .select__row
    &__row {
        display: flex;
        align-items: center;
    }
    // .select__content
    &__content {
        flex: 1 1 auto;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    // .select__text
    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    // .select__options
    &__options {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0px;
        background: var(--f6f0ec);
        border-radius: 0px 0px 10px 10px;
        padding: 10px 30px;
        max-height: 115px;
        transition: border 0.3s;
        box-shadow: 0 15px 40px 0 rgba(42, 38, 38, 0.08);
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        @media (max-width: 768px) {
            padding: 10px 20px;
        }
    }
    // .select__option
    &__option {
        width: 100%;
        text-align: left;
        cursor: pointer;
        color: inherit;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        transition: opacity 0.3s;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0px;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

.options {
    display: grid;
    gap: 30px 10px;
    grid-template-columns: repeat(4, 1fr);
    // .options__item

    &__item {
        position: relative;
    }

    // .options__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .options__label .options__text {
            color: var(--ffffff);
        }
        &:checked + .options__label .options__text::before {
            opacity: 1;
        }
        &:hover + .options__label .options__text {
            color: var(--ffffff);
        }
        &:hover + .options__label .options__text::before {
            opacity: 1;
        }
    }

    // .options__label

    &__label {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
    }

    // .options__pic1

    &__pic1 {
        height: 135px;
        width: 100%;
        object-fit: cover;
    }

    // .options__text

    &__text {
        flex: 1 1 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        background: rgba(255, 255, 255, 0.8);
        padding: 13px;
        position: relative;
        transition: color 0.3s;
        span {
            position: relative;
            z-index: 5;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.3s;
            background: linear-gradient(87.17deg, #b9884c -0.94%, #90632e 52.14%, #b9884c 105.21%);
        }
    }
}
