.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    @media (max-width: 390px) {
        padding: 20px 10px;
    }
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    transform: scale(1);
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__content {
    position: relative;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    max-width: 444px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 43px 60px 46px 60px;
    @media (max-width: 768px) {
        padding: 40px 20px 30px 20px;
    }
    .lock & {
        visibility: visible;
    }
}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--2a2626);
    box-shadow: 0 15px 40px 0 rgba(42, 38, 38, 0.08);
    svg {
        fill: var(--ffffff);
    }
}

.popup-forms {
    // .popup-forms__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 768px) {
            gap: 20px;
        }
    }

    // .popup-forms__top

    &__top {
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media (max-width: 768px) {
            gap: 10px;
        }
        p {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 154%;
        }
    }

    // .popup-forms__title

    &__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 26px;
        line-height: 123%;
        text-align: center;
        @media (max-width: 768px) {
            font-size: 22px;
        }
    }
}
