.slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @media (max-width: 768px) {
        display: none;
    }
    // .slider-nav__arrows

    &__arrow {
        border: 1px solid rgba(42, 38, 38, 0.1);
        width: 80px;
        height: 50px;
        flex: 0 0 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: transparent;
        transition:
            background-color 0.3s,
            border 0.3s;

        svg {
            transition: fill 0.3s;
            fill: var(--976e42);
        }
        &:hover {
            border: 1px solid transparent;
            background-color: var(--976e42);
            svg {
                fill: var(--ffffff);
            }
        }
        &.arrow-prev {
            svg {
                margin-right: 2px;
                transform: rotate(90deg);
            }
        }
        &.arrow-next {
            svg {
                transform: rotate(-90deg);
                margin-left: 2px;
            }
        }
    }
}

.swiper-pagination-lock {
    display: none;
}
.swiper-button-lock {
    display: none;
}
.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;
}
