:root {
  --container-width: 1640px;
  --container-padding: 40px;
  --ffffff: #fff;
  --976e42: #976e42;
  --2a2626: #2a2626;
  --f6f0ec: #f6f0ec;

  --font-family: "GothamPro", sans-serif;
  --second-family: "ZenAntique", sans-serif;
}
